@{
    ViewData["Title"] = "FAQs";
}
<div class="container-fluid body-content" style="background-color: white;">

<div class="row">
        <h2 class="text-center text-uppercase brown menu-header" id="msg_faqs_header">CLICK ON A SUBJECT TO LEARN MORE</h2>    
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
            
        <div id="accordion">
            <h3 id="msg_faqs_differences_question"></h3>
            <div id="msg_faqs_differences_answer"></div>
            <h3 id="msg_faqs_small_claims_question"></h3>
            <div id="msg_faqs_small_claims_answer"></div>
            <h3 id="msg_faqs_filing_question"></h3>
            <div id="msg_faqs_filing_answer"></div>
            <h3 id="msg_faqs_fines_question"></h3>
            <div id="msg_faqs_fines_answer"></div>
            <h3 id="msg_faqs_legal_question"></h3>
            <div id="msg_faqs_legal_answer"></div>
            <h3 id="msg_faqs_friend_question"></h3>
            <div id="msg_faqs_friend_answer"></div>
            <h3 id="msg_faqs_childsupport_question"></h3>
            <div id="msg_faqs_childsupport_answer"></div>
            <h3 id="msg_faqs_childsupportmod_question"></h3>
            <div id="msg_faqs_childsupportmod_answer"></div>
            <h3 id="msg_faqs_parenting_question"></h3>
            <div id="msg_faqs_parenting_answer"></div>
            <h3 id="msg_faqs_probate_question"></h3>
            <div id="msg_faqs_probate_answer"></div>
            <h3 id="msg_faqs_prosecuting_question"></h3>
            <div id="msg_faqs_prosecuting_answer"></div>
            <h3 id="msg_faqs_publicdefend_question"></h3>
            <div id="msg_faqs_publicdefend_answer"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <img src="/images/welcome-image.png" alt="" class="img-responsive">
</div>

</div>




<script src="/js/faqs.js" asp-append-version="true"></script>