@{
    ViewData["Title"] = "Judges & Referees";
}

<div class="container-fluid body-content" style="background-color: white;">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_judge_allsburg.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_allsburg"></h3><a id="allsburg"></a>
            <span id="msg_judges_allsburg_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_judge_miedema.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_miedema"></h3><a id="miedema"></a>
            <span id="msg_judges_miedema_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_judge_hulsing.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_hulsing"></h3><a id="hulsing"></a>
            <span id="msg_judges_hulsing_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_judge_engle.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_engle"></h3><a id="engle"></a>
            <span id="msg_judges_engle_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_ref_gelderloos.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_gelderloos"></h3>
            <span id="msg_judges_gelderloos_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_ref_magley.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_magley"></h3>
            <span id="msg_judges_magley_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-offset-1 col-sm-10 blue-background" style="min-height: 350px;">
            <img src="/images/pic_ref_macias.png" alt="" class="judge-profile img-responsive">
            <h3 id="msg_judges_macias"></h3>
            <span id="msg_judges_macias_description"></span>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
    </div>
</div>

<script src="/js/judges.js" asp-append-version="true"></script>